*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(88, 54, 9);
}
#container{
    height: 400px;
    width: 250px;
    background-color: aqua;
    position: relative;
    overflow: hidden;
 

}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#container i{
   font-size: 60px;
    color: rgb(241, 241, 241);
    position: absolute;
    left: 46%;
    top: 46%;
    transform: translate(-50%,-50%) scale(0) ;
    opacity: 0.8;
    transition:transform 0.5s;
}